@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 400;
  src: url("/theme/fonts/iosevka-italic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 700;
  src: url("/theme/fonts/iosevka-bolditalic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 400;
  src: url("/theme/fonts/iosevka-regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 700;
  src: url("/theme/fonts/iosevka-bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("/theme/fonts/merriweather-italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url("/theme/fonts/merriweather-bolditalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("/theme/fonts/merriweather-light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("/theme/fonts/merriweather-regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("/theme/fonts/merriweather-bold.ttf");
  font-display: swap;
}

html {
  font-family: "Merriweather", serif;
  font-size: 1.05em;
  line-height: 1.5;
  margin-left: calc(100vw - 100%);
}

h1, h2, h3 {
  line-height: 1.3em;
}

h2, h3 {
  margin-top: 1.7em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;;
}

pre, code {
  font-family: "Iosevka", monospace;
}

dl {
  margin: 12px 0 10px 0;
}

body {
  max-width: 42em;
  margin: 0 auto;
  padding: 0 12px;
}

:not(pre) > code {
  padding: 3px 3px;
}

.highlight {
  overflow: auto;
  border-radius: 10px;
}

.highlight pre {
  margin: 1em;
  display: inline-block;
}

code {
  background: #f8f8f8 !important;
}

a {
  color: #004e98;
  text-decoration: none;
}

a:hover {
  color: #00274d;
}

.title-meta {
  margin: 0;
  margin-bottom: 3px;
}

.content-meta {
  margin: 0;
  margin-bottom: 20px;
  color: #555;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 15px 0;
  padding-bottom: 15px;
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.69em;
  margin: 0 0 0 12px;
}

.site-title a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0;
  list-style-type: none;
}

.navbar-element {
  float: right;
}

.navbar-element a {
  padding: 10px 12px;
}

.navbar-element a:hover {
  background-color: #eee;
  border-radius: 3px;
  color: #004e98;
}

.see-all-link {
  margin: 0;
}

.post-entry {
  display: grid;
  grid-template-columns: max-content auto;
}

.post-date {
  grid-column-start: 1;
  width: 100px;
  text-align: right;
}

.post-link {
  grid-column-start: 2;
  margin: 0;
  margin-left: 12px;
}

.project-description p {
  margin: 3px 0 20px 0;
  text-align: justify;
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin: 0 0 20px 0;
  font-size: 0.9em;
}

.footer-text {
  margin: 0;
}

.emoji {
  font-style: normal;
}

.content-box {
  margin-bottom: 40px;
}

.site-intro {
  text-align: justify;
  margin-bottom: 0;
}

.content-content p {
  text-align: justify;
}

.content-content img:not(.emoji) {
  margin: 20px auto 20px auto;
  max-width: 100%;
  display: block;
  border: 1px solid #aaa;
}

.content-content hr {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #ccc;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

img.avatar {
  height: 3.37em;
  width: auto;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.project-title {
  font-weight: bold;
  margin: 0;
}