{% include 'head.html' %}

<body>
  <div class="header">
    <a class="site-title" href="/"><img src="/favicon.ico" alt="The Earth"/></a>
  </div>

  {% block content %}
  {% endblock %}

  <div class="footer">
      <ul>
        <li><a href="{{ TWITTER_URL }}">Twitter</a></li>
        <li><a href="{{ GITHUB_URL }}">GitHub</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
        <li class="last"><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>

  <script type="text/babel">twemoji.parse(document.body);</script>
</body>


{% include 'end.html' %}
