<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- General author information -->
  <meta name="author" content="{{ AUTHOR }}">

  <!-- General description information when available -->
  <!-- Otherwise fallback to the site description -->
  {% if article and article.description -%}
  <meta name="description" content="{{ article.description }}">
  {% elif page and page.description -%}
  <meta name="description" content="{{ page.description }}">
  {% else -%}
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
  {%- endif %}

  <!-- OG data guaranteed to exist, all documents -->
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="article" />

  <!-- OG data guaranteed to exist, article -->
  {% if article %}
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.slug }}" />
  <meta property="article:published_time" content="{{ article.date.strftime('%Y-%m-%d') }}" />
  {% endif %}

  <!-- OG data guaranteed to exist, page -->
  {% if page %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.slug }}" />
  {% endif %}

  <!-- OG description  -->
  {% if article and article.description -%}
  <meta property="og:description" content="{{ article.description }}" />
  {% elif page and page.description -%}
  <meta name="og:description" content="{{ page.description }}"/>
  {% else -%}
  <meta name="og:description" content="{{ SITE_DESCRIPTION }}"/>
  {%- endif %}

  <!-- OG image -->
  {% if article and article.cover -%}
  <meta property="og:image" content="{{ SITEURL }}/{{ article.cover }}" />
  {% elif page and page.cover -%}
  <meta property="og:image" content="{{ SITEURL }}/{{ page.cover }}" />
  <!-- TODO Setup a default image cover -->
  {%- endif %}

  <!-- Twitter card guaranteed -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ TWITTER_HANDLE }}" />
  <meta name="twitter:creator" content="@{{ TWITTER_HANDLE }}" />

  <!-- Twitter card title -->
  {% if article -%}
  <meta name="twitter:title" content="{{ article.title }}" />
  {% elif page -%}
  <meta name="twitter:title" content="{{ page.title }}"/>
  {% else -%}
  <meta name="twitter:title" content="{{ SITENAME }}"/>
  {%- endif %}

  <!-- Twitter card description -->
  {% if article and article.description -%}
  <meta name="twitter:description" content="{{ article.description }}" />
  {% elif page and page.description -%}
  <meta name="twitter:description" content="{{ page.description }}"/>
  {% else -%}
  <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}"/>
  {%- endif %}

  <!-- Twitter image -->
  {% if article and article.cover -%}
  <meta name="twitter:image" content="{{ SITEURL }}/{{ article.cover }}" />
  {% elif page and page.cover -%}
  <meta name="twitter:image" content="{{ SITEURL }}/{{ page.cover }}" />
  <!-- TODO Setup a default image cover -->
  {%- endif %}

  <!-- Canonical article -->
  {% if article %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.slug }}"/>
  {% endif %}

  <!-- Canonical page -->
  {% if page %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page.slug }}"/>
  {% endif %}

  <!-- More files -->
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/atom-one-light.min.css">
  <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/styles.css">

  <!-- JavaScript -->
  <!-- There is more in the footer -->
  <!-- There are also scripts loaded in other templates, such as 404.html -->
  <script src="//twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

  <script>
    const observer = lozad(); // Instantiate, see footer for run
  </script>

  <title>{{ (article and article.title or page and page.title or SITENAME) | striptags }}</title>
</head>
