<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155297229-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-155297229-1');
  </script>

  <meta charset="UTF-8">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- General author information -->
  <meta name="author" content="{{ AUTHOR }}">

  <!-- General description information when available -->
  {% if article and article.description -%}
  <meta name="description" content="{{ article.description }}">
  {% elif page and page.description -%}
  <meta name="description" content="{{ page.description }}">
  {% else -%}
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
  {%- endif %}

  <!-- OG data guaranteed to exist -->
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="article" />

  <!-- OG data guaranteed to exist, article -->
  {% if article %}
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.slug }}" />
  <meta property="article:published_time" content="{{ article.date.strftime('%Y-%m-%d') }}" />
  {% endif %}

  <!-- OG data guaranteed to exist, page -->
  {% if page %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.slug }}" />
  {% endif %}

  <!-- OG description  -->
  {% if article and article.description -%}
  <meta property="og:description" content="{{ article.description }}" />
  {% elif page and page.description -%}
  <meta name="og:description" content="{{ page.description }}"/>
  {% else -%}
  <meta name="og:description" content="{{ SITE_DESCRIPTION }}"/>
  {%- endif %}

  <!-- OG image -->
  {% if article and article.image %}
  <meta property="og:image" content="{{ SITEURL }}/{{ article.image }}" />
  {% endif %}

  <!-- Twitter card guaranteed -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ TWITTER_HANDLE }}" />

  <!-- Twitter card title -->
  {% if article -%}
  <meta name="twitter:title" content="{{ article.title }}" />
  {% elif page -%}
  <meta name="twitter:title" content="{{ page.title }}"/>
  {% else -%}
  <meta name="twitter:title" content="{{ SITENAME }}"/>
  {%- endif %}

  <!-- Twitter card description -->
  {% if article and article.description -%}
  <meta name="twitter:description" content="{{ article.description }}" />
  {% elif page and page.description -%}
  <meta name="twitter:description" content="{{ page.description }}"/>
  {% else -%}
  <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}"/>
  {%- endif %}

  <!-- Twitter image -->
  {% if article and article.image %}
  <meta name="twitter:image" content="{{ SITEURL }}/{{ article.image }}" />
  {% endif %}

  <!-- Canonical article -->
  {% if article %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.slug }}"/>
  {% endif %}

  <!-- Canonical page -->
  {% if page %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page.slug }}"/>
  {% endif %}

  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/styles.css">
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/resume.css">
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/mobile.css">
  <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/pygments.css">

  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script src="/service-worker.js"></script>
  <script src="/api.js"></script>
  <script src="/levenshtein.js"></script>

  <title>{{ (article and article.title or page and page.title or SITENAME) | striptags }}</title>
</head>
