{% extends 'base.html' %}
{% block content %}

<div class="content">
  <p>{{ SITE_INTRO }}</p>

  <div class="listing">
    <h2>Latest blog posts</h2>

    <dl>
    {% for article in articles[:5] %}
      <div class="listing-entry">
        <dt>{{ article.date.strftime('%B %d, %Y') }}</dt>
        <dd><a href="/{{ article.slug }}">{{ article.title }}</a></dd>
      </div>
    {% endfor %}
    </dl>

    <p><a href="/posts">Browse all posts →</a></p>
  </div>

  <h2>Projects selection</h2>

  {% for project in PROJECTS %}
    <p class="index-project-title">{{ project.emoji }}&nbsp;&nbsp;{{ project.name }}</p>
    <p class="index-project-description">{{ project.description }}</p>
  {% endfor %}

  <p class="see-all-link"><a href="{{ GITHUB_URL }}">Browse more on GitHub →</a></p>
</div>

{% endblock %}