{% include 'head.html' %}

<body>
  <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/resume.css" />

  <div class="resume-wrapper">
    <div class="resume-intro">
      <div>
        <h1>Lucas Santoni</h1>
        <p class="meta">Software Engineer from France</p>
        <p></p>
      </div>
    </div>

    <div class="resume-content">
      <section>
        <h2>WORK EXPERIENCE</h2>

        <section>
          <h3>Cryptio</h3>
          <p class="meta">Since 2021 | CTO</p>
          <p>
            Scaled from an MVP to a fully-fledged product generating millions
            in ARR. Structured the technical teams and their processes, from a
            single developer to multiple autonomous squads. Assisted the CEO
            with fundraising and strategy. Cryptio is an enterprise-grade
            accounting, reporting, and audit software for digital assets.
          </p>
        </section>

        <section>
          <h3>Freelance Work</h3>
          <p class="meta">Since 2017</p>
          <p>
            Collaborated with various clients, such as Sony Music or
            Vente-Privee (now Veepee). Worked on a wide range of projects, from
            OCR softwares in Python to large scale web scraping in JavaScript.
          </p>
        </section>

        <section>
          <h3>SkillZ</h3>
          <p class="meta">2019 | Software Engineer Intern</p>
          <p>
            Worked on the <a href="https://tresorio.com/">Tresorio</a>
            platform. Contributed to the front-end (React), as well as various
            back-end services (Node, Python).
          </p>
        </section>

        <section>
          <h3>Vente-Privee (now Veepee)</h3>
          <p class="meta">2018 | Software Engineer Intern</p>
          <p></p>
          <p>
            Maintained open source Go tool
            <a href="https://github.com/strike-team/influxdb-relay"
              >InfluxDB Relay</a
            >
            and contributed to a C++ driver for a robot solution allowing
            automatic photo shooting.
          </p>
        </section>

        <section>
          <h3>Thales</h3>
          <p class="meta">2017 | Intern Engineer</p>
          <p>
            Filed <a href="https://patentscope.wipo.int/search/fr/detail.jsf?docId=EP243363815">a patent</a>.
            Conducted research on deception applied to database security under
            the supervision of Nizar Kheir, PhD.
          </p>
        </section>
      </section>

      <section>
        <h2>EDUCATION</h2>

        <section>
          <h3>Master's degree in Information Technology</h3>
          <p class="meta">Epitech Paris (France) | 2021</p>
        </section>

        <section>
          <h3>MSc in Computational Intelligence</h3>
          <p class="meta">University Of Kent (United Kingdom) | 2020</p>
        </section>

        <section>
          <h3>Certificate of Proficiency in English</h3>
          <p class="meta">University Of Cambridge | 2015</p>
        </section>
      </section>

      <section>
        <h2>SKILLS</h2>

        <section>
          <h3>Programming Languages</h3>
          <p class="meta">Code is SOLID and DRY</p>
          <ul class="tags">
            <li>Go</li>
            <li>Rust</li>
            <li>TypeScript</li>
          </ul>
        </section>

        <section>
          <h3>Technologies</h3>
          <p class="meta">The right tool</p>
          <ul class="tags">
            <li>React.js / Next.js</li>
            <li>Svelte</li>
            <li>AWS</li>
            <li>PostgreSQL</li>
            <li>Nest.js</li>
            <li>Linear</li>
            <li>Notion</li>
          </ul>
        </section>

        <section>
          <h3>Computer Security</h3>
          <p class="meta">Self-taught and passionate</p>
          <p>
            Solid foundations in reverse engineering, binary exploitation, web
            security. 5800+ points on
            <a href="https://www.root-me.org/Geographer">Root-Me</a>.
          </p>
        </section>

        <section>
          <h3>Soft Skills</h3>
          <p class="meta">It's not all about code</p>
          <p>
            Impeccable English and French. I enjoy speaking in public. I have a
            great sense of priorities, and a very hands-on approach.
          </p>

          <ul class="tags">
            <li>Scrum</li>
            <li>Leadership</li>
            <li>Team Structure</li>
            <li>Recruitment</li>
            <li>Project Management</li>
          </ul>
        </section>
      </section>

      <section>
        <h2>EXTRACURRICULAR</h2>

        <section>
          <h3>PoC</h3>
          <p class="meta">Student Organization | Co-Founder</p>
          <p>
            Lead the cybersecurity department for two years. Gave dozens of
            talks and trainings, organized
            <a href="https://blog.geographer.fr/piscine-poc-2019">a bootcamp</a
            >.
          </p>
        </section>

        <section>
          <h3>Capture The Flag</h3>
          <p class="meta">With various teams</p>
          <ul>
            <li>🥇 Capture The FIC 2020 Qualifiers</li>
            <li>🥈 Deloitte UK CTF 2019 Qualifiers</li>
          </ul>
        </section>
      </section>

      <section>
        <h2>CONTACT</h2>

        <ul class="contact">
          <li>🌍 Visit <a href="{{ SITEURL }}">{{ SITE }}</a></li>
          <li>📨 Write at <a href="{{ MAIL_URL }}">{{ MAIL }}</a></li>
          <!-- <li>🐦 Tweet <a href="{{ TWITTER_URL }}">@{{ TWITTER_HANDLE }}</a></li> -->
          <li>📜 See code on <a href="{{ GITHUB_URL }}">GitHub Profile</a></li>
        </ul>
      </section>
    </div>

    <div class="resume-footer">
      <div class="resume-live">
        <p>
          🖨️ This page is print friendly! Use the built-in print functionality
          of your browser to get a clean A4 paper, or a PDF!
        </p>
      </div>

      <div class="resume-print">
        <p>
          🖥️ This resume is made for the web! Please, visit the live version at
          geographer.fr/resume .
        </p>
      </div>
    </div>
  </div>
</body>

{% include 'end.html' %}
