---
import { getCollection } from 'astro:content'
import Base from '../layouts/Base.astro'
import { SITE_INTRO } from '../config'
import { formatDate } from '../utils/formatDate'
import { smartTitleBreak } from '../utils/smartTitleBreak'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
const latest = posts.slice(0, 7);
---

<Base>
  <div class="content">
    <div class="intro">
      <img class="intro-photo" src="/assets/me.jpeg" alt="Lucas Santoni" width="100" height="100" />
      <p set:html={SITE_INTRO} />
    </div>

    <div class="listing">
      <h2>Latest blog posts</h2>

      <dl>
        {
          latest.map((post) => (
            <div class="listing-entry">
              <dt>{formatDate(post.data.date)}</dt>
              <dd><a href={`/${post.data.slug}`} set:html={smartTitleBreak(post.data.title)} /></dd>
            </div>
          ))
        }
      </dl>

      <p><a href="/posts">Browse all posts →</a></p>
    </div>
  </div>
</Base>
